body{
    background-image: url(./sharks.jpg);
}
#home,#show-leader,#study,h4,p,ol{
    color:white;
}

.question.quiz{
    margin-top: 10px;
}
p.quiz{
    padding-left: 3px;
}
.quiz{
    background: whitesmoke;
    color: black;
    border: 2px solid grey;
}


.quiz-answer{
    display: block;
    min-width: 5ch;
    margin-bottom: 5px;
    /* margin: auto; */
}

main{
    padding-right: 50%;
}
.align-timer{
    text-align: right;
}
#timer{
    font-size: large;
    background-color: white;
    border: 2pt ridge grey;
    padding: 2px;
}
#initials-input{
    width:10ch;
}
#submit{
    margin-left: 1ch;
}
#try-again{
    margin-top: 20px;
    margin-bottom: 20px;
    display:block;
}
 