 .btn-color{
     background: khaki;
 }

 #question-heading{
     display: none;
 }

.quiz{
    display:none;
}

.quiz-answer{
    display: block;
    min-width: 5ch;
    margin-bottom: 5px;
    /* margin: auto; */
}

main{
    padding-right: 50%;
}
#timer{
    text-align: right;
}
.container{
    padding: 10vw;
}

/* .column-1, .column-2{
    padding: 0px;
    margin-left: 10%;
} */


 