 .btn-color{
     background: khaki;
 }

 #question-heading{
     display: none;
 }


.quiz-answer{
    display: block;
    min-width: 5ch;
    margin-bottom: 5px;
    /* margin: auto; */
}

main{
    padding-right: 50%;
}
#timer{
}
#initials-input{
    width:10ch;
}
#submit{
    margin-left: 1ch;
}
#show-leaders{

}
#try-again{
    margin-top: 20px;
    margin-bottom: 20px;
    display:block;
}
.container{
    /* padding: 10vw; */
}

/* .column-1, .column-2{
    padding: 0px;
    margin-left: 10%;
} */


 